dist: trusty
branches:
  only:
    - master
    - release
    - develop
language: csharp
mono: none
dotnet: 2.1
solution: OpenPDF.sln
install:
  - dotnet tool install --global dotnet-sonarscanner || true
  - dotnet add tests/OpenPDF.Tests/OpenPDF.Tests.csproj package coverlet.msbuild
  - dotnet restore OpenPDF.sln
before_script:
  - export PATH="$PATH:$HOME/.dotnet/tools"
script:
  - dotnet sonarscanner begin /k:"OpenPDF" /n:"OpenPDF" /o:"svishnevsky-github" /v:"1.0.0" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.login="$SONAR_TOKEN" /d:sonar.exclusions="**/bin/**,**/obj/**" /d:sonar.cs.vstest.reportsPaths="**/TestResults/**/*.trx" /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml"
  - dotnet build OpenPDF.sln
  - dotnet test tests/OpenPDF.Tests/OpenPDF.Tests.csproj --no-build --logger:trx /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
  - dotnet sonarscanner end /d:sonar.login="$SONAR_TOKEN"
cache:
  directories:
    - "$HOME/.sonar/cache"
    - "$HOME/.dotnet/tools"
    - "$HOME/.nuget/packages"